<div class="header">
  <div class="header-text">
    <h1>{{ headerText }}</h1>
    <ng-container *ngIf="showBackArrow">
      <a class="back-arrow" [routerLink]="['/global-lineage']" [queryParams]="getBackQueryParams()">
        ← Global View
      </a>
    </ng-container>
  </div>

  <div class="search-filter-container">
    <app-datamodel-search class="search" *ngIf="showSearch"></app-datamodel-search>
    <app-datamodel-filter class="filter" *ngIf="showSearch"></app-datamodel-filter>
  </div>
</div>
